#titulo {
    font-size: 20px;
}
#titulo {
    background-color:turquoise;
    width:100vw;
    height:5vh;
    font-size: 2em;
    font-family: 'Rock 3D', cursive;
}
#titulo:hover {
    color: gold;
}
[Parrafo=titulo] {
    color:black;
    font-size: 1em;
}
#sensual{
    color: green;
}
.redes {
    color: rgb(255, 168, 5);
}
